# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.nav
*.out
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.fdb_latexmk
*.fls
*.xdv
*.run.xml
*.bcf


# Java class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE specific files
*.iml
.idea/
*.project
*.classpath

# MacOS specific files
.DS_Store

# Not filled Data...
/res/Buchempfehlungen